<!-- _includes/header.html -->
<header class="site-header">
    <nav class="main-navigation">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/addition/">Addition</a></li>
            <li><a href="{{ site.baseurl }}/subtraction/">Subtraction</a></li>
            <li><a href="{{ site.baseurl }}/multiplication/">Multiplication</a></li>
            <li><a href="{{ site.baseurl }}/division/">Division</a></li>
        </ul>
    </nav>
</header>
